## River figure(s): cumulative flow, weekly or bi-monthly flow

#### Import modules and files

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [60]:
%cd '/home/lindsay/'

heeia_13 = pd.read_csv('heeia_13.csv', sep='\t', header=None)
heeia_13.columns = ['USGS', 'ID', 'Date', 'Zone', 'Heeia_13', 'A']
heeia_13 = pd.DataFrame.drop(heeia_13, columns=['USGS', 'ID', 'Zone', 'A'])
heeia_14 = pd.read_csv('heeia_14.csv', sep='\t', header=None)
heeia_14.columns = ['USGS', 'ID', 'Date', 'Zone', 'Heeia_14', 'A']
heeia_14 = pd.DataFrame.drop(heeia_14, columns=['USGS', 'ID', 'Zone', 'A'])
waiahole_13 = pd.read_csv('waiahole_13.csv', sep='\t', header=None) 
waiahole_13.columns = ['USGS', 'ID', 'Date', 'Zone', 'Waiahole_13', 'A']
waiahole_13 = pd.DataFrame.drop(waiahole_13, columns=['USGS', 'ID', 'Zone', 'A'])
waiahole_14 = pd.read_csv('waiahole_14.csv', sep='\t', header=None)
waiahole_14.columns = ['USGS', 'ID', 'Date', 'Zone', 'Waiahole_14', 'A']
waiahole_14 = pd.DataFrame.drop(waiahole_14, columns=['USGS', 'ID', 'Zone', 'A'])
waihee_13 = pd.read_csv('waihee_13.csv', sep='\t', header=None) 
waihee_13.columns = ['USGS', 'ID', 'Date', 'Zone', 'Waihee_13', 'A']
waihee_13 = pd.DataFrame.drop(waihee_13, columns=['USGS', 'ID', 'Zone', 'A'])                                
waihee_14 = pd.read_csv('waihee_14.csv', sep='\t', header=None) 
waihee_14.columns = ['USGS', 'ID', 'Date', 'Zone', 'Waihee_14', 'A']
waihee_14 = pd.DataFrame.drop(waihee_14, columns=['USGS', 'ID', 'Zone', 'A']) 
waikane_13 = pd.read_csv('waikane_13.csv', sep='\t', header=None)
waikane_13.columns = ['USGS', 'ID', 'Date', 'Zone', 'Waikane_13', 'A']
waikane_13 = pd.DataFrame.drop(waikane_13, columns=['USGS', 'ID', 'Zone', 'A']) 
waikane_14 = pd.read_csv('waikane_14.csv', sep='\t', header=None) 
waikane_14.columns = ['USGS', 'ID', 'Date', 'Zone', 'Waikane_14', 'A']
waikane_14 = pd.DataFrame.drop(waikane_14, columns=['USGS', 'ID', 'Zone', 'A'])

/home/lindsay

Given the inconsistent data lengths and sporadic missing data, I'm going to merge all CSVs based on the Date column from the 'waiahole_14' CSV, which has the most rows (len = 34661).

In [82]:
df = pd.concat([waiahole_14, waiahole_13], by=['Date'])

TypeError: concat() got an unexpected keyword argument 'by'

In [80]:
df

                   Date  Waiahole_13  Waiahole_14
0      2014-01-02 00:00          NaN         34.7
1      2014-01-02 00:15          NaN         34.7
2      2014-01-02 00:30          NaN         34.7
3      2014-01-02 00:45          NaN         34.7
4      2014-01-02 01:00          NaN         34.7
...                 ...          ...          ...
34506  2013-12-28 22:45         37.5          NaN
34507  2013-12-28 23:00         37.5          NaN
34508  2013-12-28 23:15         36.6          NaN
34509  2013-12-28 23:30         37.5          NaN
34510  2013-12-28 23:45         36.6          NaN

[69225 rows x 3 columns]